/* rwebiStyle-Calculator-Scientific-c61.css  Created:12/22/2021  Updated:01/22/2026 */
/* rwebi.com | rwebi.org | rwebi.net | 2026 Calyptus-61 */

.calc {font-size:3.5em;font-family: 'Orbitron', sans-serif;letter-spacing:1px;text-align:left;padding:3px;border: 0px solid #2e2e2e;}

.cbo {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#b35900;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbo:hover {display:inline-block;color:#FFFFFF;background:#804000;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbe {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#476b6b;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbe:hover {display:inline-block;color:#FFFFFF;background:#334d4d;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbv {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#c65353;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbv:hover {display:inline-block;color:#FFFFFF;background:#862d2d;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cba {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#8c8c8c;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cba:hover {display:inline-block;color:#FFFFFF;background:#404040;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbg {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#008000;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbg:hover {display:inline-block;color:#FFFFFF;background:#004d00;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbr {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#b30000;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbr:hover {display:inline-block;color:#FFFFFF;background:#660000;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbt {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#7a7a52;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbt:hover {display:inline-block;color:#FFFFFF;background:#4d4d33;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cby {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#999900;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cby:hover {display:inline-block;color:#FFFFFF;background:#666600;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbb {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#0066cc;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbb:hover {display:inline-block;color:#FFFFFF;background:#003366;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}

.cbc {display:inline-block;height:13%;width:10%;min-width:20px;min-height:20px;color:#ffffff;background:#7575a3;border:solid 1px #ffffff;padding:3px;margin:2px;text-align:center;border-radius:6px;line-height:30px;font-size:1.3em;}
.cbc:hover {display:inline-block;color:#FFFFFF;background:#47476b;border:solid 1px #FFFFFF;border-radius:6px;line-height:30px;font-size:1.3em;}
