* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: #2e2e2e;
}

/*Audio*/
/* audio{
 display:none;
} */

/*Digital Clock Section*/

.full-date {
  font-size: 40px;
}

.digital-clock {
  font-size: 500%;
  color: #f3971b;
  border: 1px solid #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 5px 0 5px; */
}

/* Layout */
.main {
  display: flex;
  padding: 2em;
  height: 90vh;
  justify-content: center;
  align-items: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clockbox,
#clock {
  width: 90%;
}

/* Clock styles */
.circle {
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 15;
  stroke-miterlimit: 10;
}

.mid-circle {
  fill: #000;
}
.hour-marks {
  fill: none;
  stroke: #ffb900;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.hour-arm {
  fill: none;
  stroke: #00bfff;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #ffb900;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
  fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform 0.5s ease-in-out;
}
/*footer styling*/

footer {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f5f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: skyblue;
}
