/* rwebiStyle-Keyboard-v81.css  Created:12/22/2021  Updated:12/25/2023 */
/* rwebi.com | rwebi.org | rwebi.net | (d) 2023 v:AP8.1 */

.kbtnc {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #008B8B;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtnc:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#008B8B;border: solid 1px #FFFFFF;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtsk {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #C17753;margin-top:2px;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtsk:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#4b3621;border: solid 1px #ffffff;cursor: auto;margin-top:2px;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtnm {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #AC80FF;margin-bottom:2px;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtnm:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#AC80FF;border: solid 1px #ffffff;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtng {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #A6E22B;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtng:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#336600;border: solid 1px #ffffff;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtno {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #ffa500;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtno:hover {display:inline-block;text-decoration: none;color:#000000;background:#ffa500;border: solid 1px #FFFFFF;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtbspace {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #ffffff;margin-bottom:2px;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbspace:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#AC80FF;border: solid 1px #ffffff;cursor: auto;margin-bottom:2px;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtspace {display:inline-block;width:60%;height:13%;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #C17753;margin-top:2px;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtspace:hover {display:inline-block;text-decoration: none;color:#ffffff;background:#C17753;border: solid 1px #ffffff;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbttab {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #ffffff;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbttab:hover {display:inline-block;text-decoration: none;color:#000000;background:#ffffff;border: solid 1px #00BFFF;cursor: hand;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtcaps {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #2F74D0;margin-top:2px;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtcaps:hover {display:inline-block;text-decoration: none;color:#FFFFFF;background:#2F74D0;border: solid 1px #ffffff;cursor: auto;margin-top:2px;font-size:clamp(2vh,1.3vw,1.3rem);}

.kbtenter {display:inline-block;text-decoration: none;color:#ffffff;background:#000000;border: solid 1px #C17753;font-size:clamp(2vh,1.3vw,1.3rem);}
.kbtenter:hover {display:inline-block;text-decoration: none;color:#000000;background:#C17753;border: solid 1px #C17753;cursor: auto;font-size:clamp(2vh,1.3vw,1.3rem);}
